$sidebarWidth: 18rem;
$slideDeckWidth: 32vw;
$sidebarTopHeight: 4rem;

$blue: #0076c6;
$indigo: #391463;
$purple: #4c2a85;
$pink: #e0607e;
$red: #d7263d;
$orange: #f63e02;
$yellow: #ffb600;
$green: #809848;
$teal: #4e937a;
$cyan: #16f4d0;

$light: hsl(210, 17%, 95%);
$dark: hsl(210, 11%, 13%);

$border-width: 3px;

$border-radius: 0.5rem;
$border-radius-lg: 0.6rem;
$border-radius-sm: 0.4rem;
